// popup.css
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: 'Open Sans';
    margin: 0;
    width: 35rem;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h1 {
    color: #6a9b75;
    font-size: 50px;
    margin: 0.5rem;
}

p {
    width: 65%;
    font-size: 17px;
    color: #6a9b75;
}

#textField {
    color: #6a9b75;
    background-color: #000000;
    font-size: 17px;
    border-radius: 2rem;
    border-color: #FFFFFF;
    padding: 0.7em;
    width: 50%;
    height: 100%;
}

h3 {
    color: #6a9b75;
}

.inputButtonLeft {
    margin: 2%;
}

.left{
    color: #6a9b75;
}

.inputButtonRight {
    margin: 2%;
}

.right{
    color: #6a9b75;
}

.large:hover {
    background-color: #181818;
}

.large {
    width: 20%;
    height: 10vh;
    border-radius: 2rem;
    background-color: #000000;
    color: #6a9b75;
    font-size: 25px;
}